body{
    background-color: #cc94a4;
    color:#300b05;
    font-family: 'Dancing Script', cursive;
}
/*asi se pone comentarios*/
h1, p{
    color: #d52c31;
}
h3{
    color:#eb895c;
}
img{
    width: 350px;
    height: 250px;
    border-style:dashed ;
    border-color: #ac5964;
    border-width: 8px;
    margin-left: 9px;
    margin-bottom: 7px;
    margin-top: 9px;
    padding: 6px;
}
.img1{
    width: 320px;
    height: 380;
}
footer{
    background-color: blueviolet;
}
samll, a{
    color: magenta;
    padding-bottom: 0;
}